In [ ]:
# supress warnings
import warnings
warnings.filterwarnings('ignore')

# Importing all required packages
import numpy as np
import pandas as pd

# Data viz lib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from matplotlib.pyplot import xticks

In [ ]:
sales = pd.read_csv("sales.csv")

In [ ]:
sales

,order_id,user_id,product_id,status,created_at,sale_price,gender,num_of_item,cost,category,name_product,distribution_center_id,name,latitude,longitude
0,98294,78852,14248,Cancelled,2021-03-09 02:38:02+00:00,3.50,F,3,1.42450,Accessories,Classic and Regal Initial Embroidered Cotton H...,3,Houston TX,29.7604,-95.3698
1,33447,27004,14248,Processing,2019-05-15 13:20:33+00:00,3.50,F,4,1.42450,Accessories,Classic and Regal Initial Embroidered Cotton H...,3,Houston TX,29.7604,-95.3698
2,109077,87606,14248,Processing,2022-01-05 00:57:19+00:00,3.50,F,2,1.42450,Accessories,Classic and Regal Initial Embroidered Cotton H...,3,Houston TX,29.7604,-95.3698
3,26151,21126,25265,Shipped,2021-02-27 13:43:55+00:00,4.50,M,4,2.86200,Socks,BH Slipper Socks One Size Fits All,6,Port Authority of New York/New Jersey NY/NJ,40.6340,-73.7834
4,26210,21169,25265,Shipped,2021-06-11 01:06:21+00:00,4.50,M,1,2.86200,Socks,BH Slipper Socks One Size Fits All,6,Port Authority of New York/New Jersey NY/NJ,40.6340,-73.7834
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154503,115892,93110,6992,Returned,2021-05-12 06:53:00+00:00,8.82,F,2,4.66578,Shorts,Allegra K Khaki Elastic Waist Side Pocket Shor...,9,Charleston SC,32.7833,-79.9333
154504,66935,53750,6992,Cancelled,2021-06-07 01:12:32+00:00,8.82,F,1,4.66578,Shorts,Allegra K Khaki Elastic Waist Side Pocket Shor...,9,Charleston SC,32.7833,-79.9333
154505,113476,91134,3633,Shipped,2022-05-30 02:41:06.928559+00:00,9.32,F,1,4.49224,Dresses,Allegra K Lady Scoop Neck Short Sleeve Mini Dr...,9,Charleston SC,32.7833,-79.9333
154506,18386,14910,3633,Cancelled,2021-03-12 11:15:29+00:00,9.32,F,1,4.49224,Dresses,Allegra K Lady Scoop Neck Short Sleeve Mini Dr...,9,Charleston SC,32.7833,-79.9333
154507,92879,74538,3633,Processing,2021-12-13 05:53:52+00:00,9.32,F,4,4.49224,Dresses,Allegra K Lady Scoop Neck Short Sleeve Mini Dr...,9,Charleston SC,32.7833,-79.9333

In [ ]:
sales.head()

,order_id,user_id,product_id,status,created_at,sale_price,gender,num_of_item,cost,category,name_product,distribution_center_id,name,latitude,longitude
0,98294,78852,14248,Cancelled,2021-03-09 02:38:02+00:00,3.5,F,3,1.4245,Accessories,Classic and Regal Initial Embroidered Cotton H...,3,Houston TX,29.7604,-95.3698
1,33447,27004,14248,Processing,2019-05-15 13:20:33+00:00,3.5,F,4,1.4245,Accessories,Classic and Regal Initial Embroidered Cotton H...,3,Houston TX,29.7604,-95.3698
2,109077,87606,14248,Processing,2022-01-05 00:57:19+00:00,3.5,F,2,1.4245,Accessories,Classic and Regal Initial Embroidered Cotton H...,3,Houston TX,29.7604,-95.3698
3,26151,21126,25265,Shipped,2021-02-27 13:43:55+00:00,4.5,M,4,2.8620,Socks,BH Slipper Socks One Size Fits All,6,Port Authority of New York/New Jersey NY/NJ,40.6340,-73.7834
4,26210,21169,25265,Shipped,2021-06-11 01:06:21+00:00,4.5,M,1,2.8620,Socks,BH Slipper Socks One Size Fits All,6,Port Authority of New York/New Jersey NY/NJ,40.6340,-73.7834

In [ ]:
sales.columns

Index(['order_id', 'user_id', 'product_id', 'status', 'created_at',
       'sale_price', 'gender', 'num_of_item', 'cost', 'category',
       'name_product', 'distribution_center_id', 'name', 'latitude',
       'longitude'],
      dtype='object')

In [ ]:
###Mengubah tipe data
sales["created_at"] = pd.to_datetime(sales["created_at"])

In [ ]:
#Memeriksa Jenis Variabel
numerical_features = sales.select_dtypes(include = "number").columns.tolist()
categorical_features = sales.select_dtypes(include = "object").columns.tolist()

print("Numerical features:")
print(numerical_features)
print()
print("Categorical features:")
print(categorical_features)

Numerical features:
['order_id', 'user_id', 'product_id', 'sale_price', 'num_of_item', 'cost', 'distribution_center_id', 'latitude', 'longitude']

Categorical features:
['status', 'gender', 'category', 'name_product', 'name']

In [ ]:
# Importing Categorical Columns
bank_cust = sales[['status', 'gender', 'category', 'name_product', 'name']]

In [ ]:
bank_cust.head()

,status,gender,category,name_product,name
0,Cancelled,F,Accessories,Classic and Regal Initial Embroidered Cotton H...,Houston TX
1,Processing,F,Accessories,Classic and Regal Initial Embroidered Cotton H...,Houston TX
2,Processing,F,Accessories,Classic and Regal Initial Embroidered Cotton H...,Houston TX
3,Shipped,M,Socks,BH Slipper Socks One Size Fits All,Port Authority of New York/New Jersey NY/NJ
4,Shipped,M,Socks,BH Slipper Socks One Size Fits All,Port Authority of New York/New Jersey NY/NJ

In [ ]:
# Converting age into categorical variable.
bank_cust['status_bin'] = pd.cut(bank_cust['status'], [1, 2, 3, 4], 
                              labels=['0-1', '1-2', '2-3', '3-4'])
bank_cust  = bank_cust.drop('status',axis = 1)
bank_cust.head()

KeyError: ignored

In [ ]:
sales.num_of_item.describe().T

count    154508.000000
mean          1.889287
std           1.056747
min           1.000000
25%           1.000000
50%           2.000000
75%           2.000000
max           4.000000
Name: num_of_item, dtype: float64

In [ ]:
#data inspection

In [ ]:
bank_cust.shape

(154508, 5)

In [ ]:
bank_cust.describe()

,status,gender,category,name_product,name
count,154508,154508,154508,154492,154508
unique,5,2,26,20300,10
top,Shipped,M,Intimates,Thorlo Unisex Experia Running Sock,Memphis TN
freq,46973,77475,10955,77,20730

In [ ]:
bank_cust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154508 entries, 0 to 154507
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   status        154508 non-null  object
 1   gender        154508 non-null  object
 2   category      154508 non-null  object
 3   name_product  154492 non-null  object
 4   name          154508 non-null  object
dtypes: object(5)
memory usage: 5.9+ MB

In [ ]:
## data cleaning9

In [ ]:
# Checking Null values
bank_cust.isnull().sum()*100/bank_cust.shape[0]

status          0.000000
gender          0.000000
category        0.000000
name_product    0.010355
name            0.000000
dtype: float64

In [ ]:
modus = sales['name_product'].mode()[0]

In [ ]:
sales['name_product'] = sales['name_product'].fillna(modus)

In [ ]:
sales['name_product'].isna().sum()

0

In [ ]:
# pembuatan model

In [ ]:
# First we will keep a copy of data
bank_cust_copy = bank_cust.copy()

In [ ]:
## data preparation
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
bank_cust = bank_cust.apply(le.fit_transform)
bank_cust.head()

   status  gender  category  name_product  name
0       0       0         0          4782     2
1       2       0         0          4782     2
2       2       0         0          4782     2
3       4       1        18          2462     8
4       4       1        18          2462     8

In [ ]:
# Importing Libraries
!pip install kmodes

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting kmodes
  Downloading kmodes-0.12.1-py2.py3-none-any.whl (20 kB)
Requirement already satisfied: scipy>=0.13.3 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.1.0)
Requirement already satisfied: scikit-learn>=0.22.0 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.0.2)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.7/dist-packages (from kmodes) (1.21.6)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.22.0->kmodes) (3.1.0)
Installing collected packages: kmodes
Successfully installed kmodes-0.12.1

In [ ]:
from kmodes.kmodes import KModes

In [ ]:
#pembentukan centroid metode CAO

In [ ]:
km_cao = KModes(n_clusters=2, init = "Cao", n_init = 1, verbose=1)
fitClusters_cao = km_cao.fit_predict(bank_cust)

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 1, iteration: 1/100, moves: 0, cost: 529692.0

In [ ]:
# Predicted Clusters
fitClusters_cao

array([1, 1, 1, ..., 0, 1, 1], dtype=uint16)

In [ ]:
clusterCentroidsDf = pd.DataFrame(km_cao.cluster_centroids_)
clusterCentroidsDf.columns = bank_cust.columns

In [ ]:
# Mode of the clusters
clusterCentroidsDf

   status  gender  category  name_product  name
0       4       1         7         17718     4
1       1       0         6         16685     1

In [ ]:
# pembentukan centroid dengan metode huang

In [ ]:
km_huang = KModes(n_clusters=2, init = "Huang", n_init = 1, verbose=1)
fitClusters_huang = km_huang.fit_predict(bank_cust)

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 1, iteration: 1/100, moves: 52668, cost: 530699.0
Run 1, iteration: 2/100, moves: 4566, cost: 530699.0

In [ ]:
# Predicted clusters
fitClusters_huang

array([1, 1, 1, ..., 1, 1, 1], dtype=uint16)

In [ ]:
#Choosing K by comparing Cost against each K

In [ ]:
cost = []
for num_clusters in list(range(1,5)):
    kmode = KModes(n_clusters=num_clusters, init = "Cao", n_init = 1, verbose=1)
    kmode.fit_predict(bank_cust)
    cost.append(kmode.cost_)

In [ ]:
y = np.array([i for i in range(1,5,1)])
plt.plot(y,cost)

In [ ]:
## Choosing K=2

In [ ]:
km_cao = KModes(n_clusters=2, init = "Cao", n_init = 1, verbose=1)
fitClusters_cao = km_cao.fit_predict(bank_cust)

In [ ]:
fitClusters_cao

In [ ]:
#Combining the predicted clusters with the original DF

In [ ]:
bank_cust = bank_cust_copy.reset_index()

In [ ]:
clustersDf = pd.DataFrame(fitClusters_cao)
clustersDf.columns = ['cluster_predicted']
combinedDf = pd.concat([bank_cust, clustersDf], axis = 1).reset_index()
combinedDf = combinedDf.drop(['index', 'level_0'], axis = 1)

In [ ]:
combinedDf.head()

In [ ]:
# identifikasi cluster yang akan dibentuk
cluster_0 = combinedDf[combinedDf['cluster_predicted'] == 0]
cluster_1 = combinedDf[combinedDf['cluster_predicted'] == 1]

In [ ]:
cluster_0.info()

In [ ]:
cluster_1.info()

In [ ]:
# pekerjaan
plt.subplots(figsize = (15,5))
sns.countplot(x=combinedDf['job'],order=combinedDf['job'].value_counts().index,hue=combinedDf['cluster_predicted'])
plt.show()

In [ ]:
# marital
plt.subplots(figsize = (5,5))
sns.countplot(x=combinedDf['marital'],order=combinedDf['marital'].value_counts().index,hue=combinedDf['cluster_predicted'])
plt.show()

In [ ]:
#Education

In [ ]:
plt.subplots(figsize = (15,5))
sns.countplot(x=combinedDf['education'],order=combinedDf['education'].value_counts().index,hue=combinedDf['cluster_predicted'])
plt.show()

In [ ]:
# Default
f, axs = plt.subplots(1,3,figsize = (15,5))
sns.countplot(x=combinedDf['default'],order=combinedDf['default'].value_counts().index,hue=combinedDf['cluster_predicted'],ax=axs[0])
sns.countplot(x=combinedDf['housing'],order=combinedDf['housing'].value_counts().index,hue=combinedDf['cluster_predicted'],ax=axs[1])
sns.countplot(x=combinedDf['loan'],order=combinedDf['loan'].value_counts().index,hue=combinedDf['cluster_predicted'],ax=axs[2])

plt.tight_layout()
plt.show()

In [ ]:
f, axs = plt.subplots(1,2,figsize = (15,5))
sns.countplot(x=combinedDf['month'],order=combinedDf['month'].value_counts().index,hue=combinedDf['cluster_predicted'],ax=axs[0])
sns.countplot(x=combinedDf['day_of_week'],order=combinedDf['day_of_week'].value_counts().index,hue=combinedDf['cluster_predicted'],ax=axs[1])

plt.tight_layout()
plt.show()

In [ ]:
f, axs = plt.subplots(1,2,figsize = (15,5))
sns.countplot(x=combinedDf['poutcome'],order=combinedDf['poutcome'].value_counts().index,hue=combinedDf['cluster_predicted'],ax=axs[0])
sns.countplot(x=combinedDf['age_bin'],order=combinedDf['age_bin'].value_counts().index,hue=combinedDf['cluster_predicted'],ax=axs[1])

plt.tight_layout()
plt.show()